.tab-btn {
  border-bottom: 2px solid transparent;
}

.tab-btn:not(:last-child) {
  border-right: 1px solid #ccc;
}
.tab-btn.active {
  background-color: white;
  border-bottom: 2px solid #3b82f6;
  color: #3b82f6;
}
